.section .chef{
    display: block;

}
.top-chefs-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    grid-gap:2.5em;
    margin-top: 3em;
}
.chef-card{
    display: flex;
    height: 120px;
    background-color: var(--background-color);
    border-radius: 5px;
    overflow: hidden;
    img{
        height:100%;
        width:120px;
        border-radius: 5px;
        box-shadow: 0 3px 6px var(--shadow-color);
        
    }
    .chef-card-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: .5em;
        padding-left: 1em;
        .chef-card-name{
            font-size: 1.2em;
            font-weight: bold;
            color: black;
        }
        .chef-card-count, .chef-cuisine{
            font-size: 1.2em;
            color: var(--text-light);
        }
        .chefs-icons{
            font-size: 1.2em;
            svg{
                margin-right: .5em;
                &:nth-child(1){
                    color: #0063f7;
                }
                &:nth-child(2){
                    color: #13b4ff;
                }
                &:nth-child(3){
                    color: #ff0056;
                }
            }
        }
    }

}