.navbar{
    height: 65px;
    box-shadow: 0px 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-size: 1.5em;
        font-weight: bolder;
        color: var(--primary-color);
        text-shadow: 0 2px 2px var(--shadow-color);
        span{
            color:  black;
        }

    }
    .nav-links{
        a{
            margin-left: 1em;
            color: var(--text-light);
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            font-size: 0.9em;
            &::before{
                content: '';
                display: inline-block;
                height: 3px;
                width: 100%;
                background-color: var(--primary-color);
                position: absolute;
                bottom: -5px;
                left: 0;
                transform: scaleX(0);
                transition: transform calc(var(--animation-speed)* 0.4s) ease-in-out;
            }
            &:hover{
                &::before{
                    transform: scaleX(1);
                }
            }
            &.active{
                color: var(--primary-color);
                font-weight: bold;
            }
        }
    }
    .sidebar-btn{
        height: 25px;
        width: 30px;
        display: none;
        color: white;
        position: relative;
        .bar{
            border-radius: 5px;
            height:6px;
            width:100%;
            background-color: black;
            position: absolute;
            transition: transform getAnimationDuration(.2s) ease-in-out;
            &:nth-child(1){
                top: 0;           
            }
            &:nth-child(2){
                top: 50%;
                transform-origin: right;
                transform:scaleX(.8) translateY(-50%);
            }
            &:nth-child(3){
                top: 100%;
                transform-origin: right;
                transform: scaleX(1.1) translateY(-100%);


            }
        }
        &.active{
            .bar{
                transform-origin: center;
                top: 50%;
                &:nth-child(1){
                    transform: translate(0,-50%) scale(1) rotate(45deg) ;
                }
                &:nth-child(2){
                    transform: scaleX(0) translateY(-50%);
                }
                &:nth-child(3){
                    transform: translate(0,-50%) scale(1) rotate(-45deg) ;
                }
            }
        }
    }
}
.sidebar{
    position: fixed;
    top: 0;
    left:0;
    height:100vh;
    width: 260px;
    z-index: 999;
    background-color: var(--background-color);
    box-shadow: 0 0 0 1000px rgba(0,0,0,0.2),
        3px 0 5px var(--shadow-color);
    animation: getAnimationDuration(.6s) slideInLeft;
    .sidebar-link{
        margin-top: 1em;
        display: block;
        padding: .5em 1em;
        border-left: 0.4em solid transparent; 
        margin-bottom: 1em;
        
        color: black;
        font-weight: bold;
        font-size: 1.1em;
        transform: translateX();
        animation: getAnimationDuration(.6s) slideInLeft forwards;
        @for $i from 1 to 3 {
            &:nth-child(#{$i}){
                animation-delay: #{$i * .1}s;
            }
        }
        &:hover{
            border-left-color: var(--primary-color);
            
        }
        svg{
            width: 1.2em;
            margin-left: .5em;
            margin-right: .5em;
        }
    }
}