:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color:rgb(255,0,86);
    --text-color: #0A0A0A0A;
    --text-light:#575757;
    --font-size:16px;
    --animation-speed:1;
}

@function getAnimationDuration($duration:number){
    @return calc($duration *var(--animation-speed));
}

body{
    font-size: var(--font-size);
    font-family: 'Roboto',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
.container{
    padding-inline: 16vw;
}
@import "partials/navbar.scss";
@import "partials/animations.scss";
.section{
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    .title{
        color: black;
        font-size: 3em;
        margin-bottom: .55em;
    }
    .info{
        color: var(--text-light);
        font-size: 1.5em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}
.main{
    padding-block: 3vw;
}
.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .5em .75em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 9px;
    font-weight: bold;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}
.custom-image{
    background-color: red;
    height:0;
    width:100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
@import "partials/hero-section.scss";

.section.improve-skills{
    .col.img{
        img{
            width: 100%;
        }
    }
    .col.typography{
        padding-left: 1em;
        .skill-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            padding: .2em 0 .1em .5em;
            color: var(--text-light);
            font-weight: bold;  
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards; 
            @for $i from 2 through 7 {
                &:nth-child(#{$i}){
                    animation-delay: #{$i * .1}s;
                }
            }
        }
        .btn{
            margin-top: .75em;
        }
    }
}
@media screen and (max-width:768px) {
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
}