:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color:rgb(255,0,86);
    --text-color: #0A0A0A0A;
    --text-light:#575757;
    --font-size:16px;
    --animation-speed:1;
}
.main{
    padding-block: 3vw;
}
@function getAnimationDuration($duration:number){
    @return calc($duration *var(--animation-speed));
}

body{
    font-size: var(--font-size);
    font-family: 'Roboto',sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
.container{
    padding-inline: 16vw;
}
@import "partials/navbar.scss";
@import "partials/animations.scss";
.section{
    display: flex;
    
    align-items: center;
    margin-bottom: 3vw;
    .title{
        color: black;
        font-size: 3em;
        margin-bottom: .55em;
    }
    .info{
        color: var(--text-light);
        font-size: 1.5em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}
.main{
    padding-block: 3vw;
}
.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .5em .75em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 9px;
    font-weight: bold;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}
.custom-image{
    background-color: red;
    height:0;
    width:100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.previous-searches{
    display: block;
    h2{
        color: black;
        margin-bottom: 1em;
    }
    .previous-searches-container{
        .search-items{
            background-color: var(--primary-color);
            display: inline-block;
            padding: 0.5em 1em;
            margin:0 .5em 1em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color);
            animation: getAnimationDuration(.5s) slideInRight;
            
        }
    }
}

@import "partials/footer.scss";
@import "partials/hero-section.scss";
@import "partials/quote-section.scss";
@import "partials/chef-section.scss";
@import "partials/improve-section.scss";
@media screen and (max-width:1280px){
    .container{
        padding-inline: 14vw;
    }
}
@media screen and (max-width:1050px){
    .container{
        padding-inline: 12vw;
    }
}

@media screen and (max-width:768px) {
    .navbar{
        
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .section{
        display: flex;
        flex-wrap: wrap;
        .col{
            width: 100%;
            padding: 0;
            text-align: center;
            margin-bottom: 2em;
        }

    }
    .skill-item{
        display: inline-block;
        margin: .75em;
        
    }
    .section.improve-skills .btn{
        display: block;        
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .chef-card{
        box-shadow: 0 5px 10px var(--shadow-color) ;
    }
    .container{
        padding-inline: 6vw;
    }
    .footer{
        grid-template-columns: repeat(4, 1fr);
        .footer-section:nth-child(1){
            grid-column: span 4;
        }
        .footer-section:nth-child(2), .footer-section:nth-child(3){
            grid-column: span 2;
        }
    }
}
@media screen and (max-width:480px){
    .container{
        padding-inline: 3vw;
    }
}
